header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top:0;
    z-index: 999;
}

header .logo img{
    width: 65px;
    transition: .2s ease;
}

header .logo img:hover {
    scale: 1.05;
}

header nav {
    display: flex;
    height: 100%;
    gap: 16px;
}

header nav .desktop-bar {
    display: flex;
    align-items: center;
    gap:20px;
}


.perfil-btn {
    border: none;
    background: transparent;
    color: var(--primaryColor);
    font-size: 17px;
}




/* USER MODAL */
.background-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}
.user-modal {
    overflow-y: auto;
    position: relative;
    top:0;
    margin-right: 20px;
    height: 75vh;
    width: 320px;
    border-radius: 4px;
    color:var(--color-bold) ;
    background: #fff;
    box-shadow: var(--shadow-menu);
    font-size: 14px;
    z-index: 99999;
    animation: slideDownMenuUser 0.3s forwards; 
}

.user-modal h3 {
    font-weight: bold;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 1px;
    padding: 30px 40px 20px;
    margin: 0;
    color: var(--color-max);
}

.user-modal nav a,.user-modal nav button {
    border: none;
    background: transparent;
    padding: 10px 40px;
    display: flex;
    text-decoration: none;
    color: var(--color);
    align-items: center;
    gap:20px;
}

.user-modal nav i {
    font-size: 22px;
}

.user-modal nav a:hover,
.user-modal nav button:hover {
    color: var(--primaryColor);
}

.user-modal .back-btn {
    display: none;
}


.sacola-header {
    display: flex;
    align-items: center;
    height: 40px;
    gap:10px;
    border: none;
    background: transparent;
    border-radius: 20px;
    padding: 0 12px;
    background: #fff;
    transition: .2s ease;
}

.sacola-header.active {
    background: var(--primaryColor);
    color: #fff;
}

.sacola-header:hover {
    filter: brightness(.95);
}

.sacola-header #info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sacola-header i {
    color: var(--primaryColor);
}

.sacola-header.active i {
    color: #fff;
}

.sacola-header span:first-child {
    font-size: .77rem;
}

.sacola-header span:last-child {
    font-size: .7rem;
}

@keyframes slideDownMenuUser {
    from {
        top: 55px;
    }
    to {
        top: 60px;
    }
}

@keyframes slideDownMenu {
    from {
        top: -50px;
    }
    to {
        top: 84px;
    }
}

@keyframes slideDownMenuMobile {
    from {
        transform:translateY(100%);
    }
    to {
        transform:translateY(0);
    }
}

@media only screen and (max-width: 750px) {

    header {
        justify-content: flex-start;
        padding: 0 10px;
        gap:20px;
        position: relative;
    }
    header nav .desktop-bar {
        display: none;
    }
   .close-modal {
    visibility: visible;
   }
   
    .user-modal .back-btn {
        display: flex;
    }

   .user-modal {
        width: 100%;
        margin-right: 0;
        height:100vh;
        animation: slideDownMenuMobile 0.4s ease-out;
   }

   .user-modal nav {
    padding-top: 20px;
   }

   .user-modal h3 {
        text-align: center;
        padding: 20px;
   }
    
}