.sign-in-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12%;
    height: 100vh;
    position: relative;
}

#rango-banner {
    position: absolute;
    left:0;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.sign-in-page button, .sign-in-page input, .sign-in-page a {
    width: 100%;
    cursor: pointer;
}

.sign-in-page .sign-in-options{
    z-index: 2;
    width: 400px;
    background-color: white;
    display: flex;
    padding: 36px 50px;
    flex-direction: column;
    gap:30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.sign-in-options h1 {
    text-align: center;
    margin: 0 2rem;
    align-self: center;
    font-size: 2.5rem;
    letter-spacing: -.0024em;
    line-height: 50px;
    color: #414143;
    font-weight: 500;
}

.sign-in-options h2 {
    margin: 0;
    align-self: center;
    font-size: 1.5rem;
    color: var(--color);
    font-weight: 400;
}


.options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.sign-in-options .providers-section {
    display: flex;
    width: 100%;
    gap: 8px;
}

.sign-in-options .google-btn,
.sign-in-options .new-account,
.sign-in-options .facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    transition: .2s ease;
}

.sign-in-options .facebook-btn,
.sign-in-options .google-btn {
    font-size: 13px;
    padding-left: 28px;
}

.sign-in-options .google-btn:hover,
.sign-in-options .already-have-account:hover,
.sign-in-options .new-account:hover,
.sign-in-options .facebook-btn:hover {
    filter:brightness(0.9)
}

.sign-in-options .facebook-btn {
    background:  #0165E1;
    color: #fff;
    border: 1px solid  #0165E1;
    position: relative;
}

.sign-in-options .google-btn {
    border: 1px solid var(--border);
    position: relative;
    background: transparent;
    color: var(--color-bold);
}


.sign-in-options .new-account {
    border: 1px solid var(--border);
    text-align: center;
    background: transparent;
    color: var(--color);
    text-decoration: none;
}

.sign-in-options .google-btn i,
.sign-in-options .facebook-btn i {
    position: absolute;
    left:10px;
    font-size: 18px;
}

@media only screen and (max-width: 960px) {
    #rango-banner {
        position: relative;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 60%;
        
        border-bottom-right-radius: 60%;
    }
    .sign-in-page{
        overflow-x: hidden;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0px;
        gap:20px;
    }

    .sign-in-options h1 {
        font-size: 1.5rem;
        line-height: 30px;
        margin: 0;
    }

    .sign-in-options h2 {
        font-size: 1rem;
    }

    .sign-in-options .facebook-btn,
    .sign-in-options .google-btn {
        padding-left: 34px;
    }

    .sign-in-page .sign-in-options {
        box-sizing: border-box;
        background: #fff;
        padding: 0;
        width: 100%;
        gap:20px;
        box-shadow: none;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 360px) {
    
    .sign-in-options .facebook-btn,
    .sign-in-options .google-btn {
       
        font-size: 11px;
    }
}