:root {
    --color:#717171;
    --color-bold:#3e3e3e;
    --color-medium:#71714D;
    --color-lighter:#a6a5a5;
    --border:#c5c5c5;
    --bg-grey:#f2f2f2;
    --primaryColor: blue;
    --shadow:0 4px 16px rgba(0,0,0,.06);
    --shadow-top:0px -4px 20px 4px rgba(0,0,0,0.1);
    --error:#ee4c58
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input:focus-visible {
    outline: none;
}

.back-btn {
    border: none;
    background: transparent;
    position: absolute;
    top:10px;
    left:10px;
}

.back-btn i {
    color: var(--primaryColor);
    font-size: 19px;
}

